doctype html
html(lang="de")
    head
        title !{Site.Title} &raquo; !{Page.Title}
        link(rel="stylesheet",href=basePath+"/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet",href=basePath+"/templates/simple/style.css")
        script(src=basePath+"/jquery/jquery-2.0.3.min.js")
        script(src=basePath+"/bootstrap/js/bootstrap.min.js")
    body
        include includes/header
        div.container
            div.row
                include includes/navigation
                block content
        include includes/footer
                    