div.col-md-1(style="background-color: gray;")
        div.btn-group-vertical
            a.btn.btn-default(href=URLPath+"/pages") Pages
            a.btn.btn-default(href=URLPath+"/security") Security
            a.btn.btn-default(href=URLPath+"/settings") Settings
            a.btn.btn-default(href=URLPath+"/files") Files
            a.btn.btn-default(href=URLPath+"/reports") Reports
        